<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href='/static/signup.css' />

</head>

<body>
    <div class="wrapper">
        <nav>
            <h1 align="center">FlaminGo</h1>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Log In</a></li< /li>
            </ul>
        </nav>

        <div class="form-wrapper">
            <h2>Register</h2>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.housing_address.label }}<br>
                    {{ form.housing_address(size=200) }}<br>
                </p>
                <p>
                    {{ form.phone.label }}<br>
                    {{ form.phone(size=32) }}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</body>